:root {

}

body {

    background-color: initial !important;
    font-family: system-ui;

}

.container {
    padding: 15px !important;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
